.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonSpecial {
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonSpecial:hover {background-color: #3e8e41}

.buttonSpecial:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* =================== TOOLTIP ======================== */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0,0,0,0.5);
  color: rgb(225, 225, 225);
  text-align: center;
  border-radius: 3px;
  padding: 8px 2px;
  font-size:11px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 120%;
}
.position{
  top: 2px;
  left: 120%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.places{
  margin-top:1em;
  border-top:1px solid rgba(27,27,27,1);
  box-shadow: 0 1px 1px 0 rgba(35,35,35,1);
}


input::placeholder {
  padding-left:20px;
  color:rgb(150, 150, 150);
}

.searchbox{
  display:flex;
  justify-content: center;
  align-items:center;
}

.search{
  width:100%;
  height:40px;
  background-color:rgba(30,30, 30, 1);
  border:none;
  color:white;
}


/* ====================== SIDEBAR ==================== */
.places{
  margin-top:1em;
  border-top:1px solid rgba(27,27,27,1);
  box-shadow: 0 1px 1px 0 rgba(35,35,35,1);
}

.side-nav{
  height:100%;
  width:280px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background:
  linear-gradient(
    rgba(42,42, 42, 1), rgba(48, 48, 48, 1)
  );
  overflow-x:hidden;
  padding-top:7px;
  transition:0.5s;
  box-shadow: 1px 0 12px 1px rgba(0,0,0,0.6);
}
.side-nav ul{
  padding:0;
}

.side-nav li{
  padding:16px 10px 16px 0;
  text-decoration:none;
  display:block;
  transition:0.3s;
  margin-bottom:1px;
  font-size:13px;
  color:rgb(225, 225, 225);
  cursor:pointer;
  background:
  linear-gradient(
    rgba(66,66, 66, 1), rgba(56, 56, 56, 1)
  );
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and(min-width:769px){
  .side-nav li{
    padding:13px 10px 13px 0;
  }
}

@media screen and(min-width:1500px){
  .side-nav li{
    padding:17px 10px 17px 0;
  }
}

@media (max-width: 1179px) {
  .side-nav {
    width: 40%;
  }
}

@media (max-width: 679px) {
  .side-nav {
    width: 37%;
  }
  .side-nav li{
    font-size:8px;
  }
  .buttonSpecial{
    font-size: 10px;
    box-shadow: 0 6px #999;
    border-radius: 12px;    
  }
}

.box{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:100%;

}

.row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width:205px;

}
.icon-awesome{
  font-size:1.5em;
  width:20px;
  padding-right:20px;
}
.icon-right{
  font-size:1.2em;
  padding-right:5px;
  padding-top:2px;
}
.side-nav p{
  margin:0;
}
.side-nav h5{
  padding:15px 10px 15px 20px;
  margin:0;
}
.side-nav li:hover{
  color:rgb(25, 198, 255);
}
.list:first-child{
  margin-top:0;
}
.menu-box{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom:5px;
}
.times{
  color:rgb(225, 225, 225);
  padding-right:10px;
  cursor:pointer;
}
.angle-right{
  color:rgba(65, 65, 65, 1) !important;
  font-size: 1.8em !important;
}
.angle-right:hover{
  color:rgb(80, 80, 80) !important;
}
